@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html {
    font: 18px/1.5 'Outfit', sans-serif;
    font-weight: 300;
    color: var(--white);
}

body {
    background-color: var(--very-dark-blue-main);
}

.card-container {
    max-width: 350px;
    height: auto;
    background-color: var(--very-dark-blue-card);
    border-radius: 20px;
    padding: 30px;
    margin: 40px auto;
}

.image-container {
    position: relative;
    width: 100%;
}

.main-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: var(--cyan);
    border-radius: 10px;
}

.view-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.image-container:hover .overlay {
    opacity: 0.5;
    cursor: pointer;
}

.image-container:hover .overlay+.view-icon {
    display: block;
}

h3 {
    margin: 20px 0;
    font-weight: 500;
}

.description {
    color: var(--soft-blue);
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-container,
.time-left-container {
    display: flex;
}

.price {
    color: var(--cyan);
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 7px;
}

.time-left {
    color: var(--soft-blue);
    font-size: 0.8em;
    margin-left: 7px;
}

hr {
    border: 1px solid var(--very-dark-blue-line);
    margin: 20px 0;
}

.author {
    color: var(--soft-blue);
}

.avatar-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.avatar-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    align-items: center;
}

.author {
    font-size: 0.8em;
    margin-left: 15px;
}

.author-link {
    text-decoration: none;
    color: var(--white);
}

.author-link:hover,
h3:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution {
    font-size: 0.7em;
    text-align: center;
}

a {
    text-decoration: none;
}